[Unit]
Description=Python http server for share cached Kubernetes files
Wants=network-online.target
After=network-online.target

[Service]
User=33
Group=33
EnvironmentFile=-/etc/{{ default_configs_dir_name }}/{{ cache_server_systemd_unit }}
ExecStart=python3 -m http.server --bind $BIND --directory $CACHE_DIR $PORT

[Install]
WantedBy=multi-user.target
