global
    maxconn                 4000
    log                     127.0.0.1 local0

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option                  http-server-close
    option                  redispatch
    retries                 5
    timeout http-request    300s
    timeout queue           300s
    timeout connect         30s
    timeout client          86400s
    timeout server          86400s
    timeout http-keep-alive 30s
    timeout check           30s
    maxconn                 4000

frontend kube_api_frontend
  bind {{ haproxy_bind }}
  mode tcp
  option tcplog
  default_backend kube_api_backend

backend kube_api_backend
  mode tcp
  balance leastconn
  default-server inter 15s downinter 15s rise 2 fall 2 slowstart 60s maxconn 1000 maxqueue 256 weight 100
  {% if kube_apiserver_anonymous_auth_disable %}
  option httpchk GET /livez HTTP/1.1\r\nAuthorization:\ Bearer\ {{ sa_token }}
  {% else %}
  option httpchk GET /livez
  {% endif %}
  http-check expect status 200
  {% for host in groups["k8s-master"] -%}
  server {{ host }} {{ hostvars[host].ansible_default_ipv4.address }}:{{ kube_apiserver_port }} check check-ssl verify none
  {% endfor -%}
