# https://github.com/kubernetes-sigs/kubespray/blob/v2.15.0/roles/kubernetes/node/templates/manifests/haproxy.manifest.j2
apiVersion: v1
kind: Pod
metadata:
  name: haproxy
  namespace: kube-system
  labels:
    addonmanager.kubernetes.io/mode: Reconcile
    k8s-app: kube-haproxy
  annotations:
    haproxy-cfg-checksum: "{{ haproxy_stat.stat.checksum }}"
spec:
  hostNetwork: true
  dnsPolicy: ClusterFirstWithHostNet
  nodeSelector:
    kubernetes.io/os: linux
  priorityClassName: system-node-critical
  containers:
  - name: haproxy
    image: {{ haproxy_image_repo }}:{{ haproxy_image_tag }}
    imagePullPolicy: IfNotPresent
    resources:
      requests:
        cpu: 100m
        memory: 128M
    securityContext:
      privileged: true
    volumeMounts:
    - mountPath: /usr/local/etc/haproxy/
      name: etc-haproxy
      readOnly: true
  volumes:
  - name: etc-haproxy
    hostPath:
      path: {{ haproxy_config_dir }}
