---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
nodeStatusUpdateFrequency: 10s
address: {{ kubelet_bind_address | default("0.0.0.0") }}
failSwapOn: true
cgroupDriver: systemd
maxPods: {{ kubelet_node_max_pods | default(110) }}
kubeletCgroups: /systemd/system.slice
staticPodPath: {{ kube_manifest_dir }}
clusterDomain: {{ kube_cluster_dns_domain }}
clusterDNS:
- {{ kube_network_service_subnet | ipaddr("net") | ipaddr(10) | ipaddr("address") }}
{% if system_reserved is defined %}
systemReserved:
  cpu: {{ kubelet_cpu_reserved | default("250m") }}
  memory: {{ kubelet_memory_reserved | default("256Mi") }}
{% endif %}
tlsMinVersion: {{ kube_tls_min_version | default("VersionTLS12") }}
tlsCipherSuites:
{% for tls in kube_tls_cipher_suites %}
- {{ tls }}
{% endfor %}
eventRecordQPS: 5
readOnlyPort: 0
{% if kubelet_reserved_system_cpus is defined %}
reservedSystemCPUs: "{{ kubelet_reserved_system_cpus }}"
{% endif %}
