apiVersion: apiserver.k8s.io/v1alpha1
kind: AdmissionConfiguration
plugins:
{% if 'EventRateLimit' in kube_admission_plugins %}
  - name: EventRateLimit
    path: {{ kube_admission_configs_path }}/event-rate-limit.yaml
{% endif %}
{% if 'PodNodeSelector' in kube_admission_plugins and pod_node_selector_file %}
  - name: PodNodeSelector
    path: {{ kube_admission_configs_path }}/pod-node-selector.yaml
{% endif %}
